/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('Proxima-Nova-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('Proxima-Nova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('Proxima-Nova-Semibold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}